<!--DOCTYPE html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="main"><!--dette er nyt-->
         <h1>TicketFlow</h1><!--dette er nyt-->
         <h2>Enter Your Login Credentials</h2><!--dette er nyt-->
    <!--<h1>Login</h1>(dette var med før-->
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required><br><br>

        <div class="wrap"><!--dette er nyt-->
            <button type="submit"> <!--dette er nyt-->
                Submit <!--dette er nyt-->
            </button> <!--dette er nyt-->
        <!--<button type="submit">Login</button> dette var med før-->
        </div>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
</body>
</html>
